$carousel-background: lighten($developer-blue, 40%);

.mui-thumb-carousel {
  background: $carousel-background;

  .mui-heroes {
    display: flex;

    .mui-hero {
      background: none;
      border: 0;
      margin: 0;
      padding: 0;
      outline: 0;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      flex: 1;

      // sass-lint:disable no-vendor-prefixes
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }

      .mui-photo {
        width: 100%;
        opacity: 0.5;
        transition: opacity 250ms ease-in-out;
      }

      &.mui-active {
        &::after {
          content: ' ';
          width: 10%;
          height: 10%;
          position: absolute;
          bottom: -5%;
          left: 47.5%;
          background: $carousel-background;
          transform: rotate(45deg);
        }

        .mui-photo {
          opacity: 1;
        }
      }
    }
  }

  .mui-quotes {
    > * {
      display: none;
      color: darken($developer-blue, 20%);
      font-style: italic;
      padding: 1rem;

      &.mui-active {
        display: block;
      }
    }

    .mui-wrapper {
      display: flex;
      justify-content: center;
    }

    .mui-caption {
      font-weight: 300;
      margin: 0;
      padding: 0 10px;
      text-align: center;
    }

    .mui-quote {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      // Base 64 encoded quote glyph
      background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMCAyNiI+DQo8cGF0aCBmaWxsPSIjNDI3RUE4IiBkPSJNMCwxNC40YzAtMS4yLDAuMy0yLjIsMS4yLTQuMkw2LDBoNC4zTDcuNSwxMC44YzEuMiwwLjksMS45LDIuMiwxLjksMy42YzAsMi41LTIuMiw0LjUtNC43LDQuNSBDMi4xLDE4LjksMCwxNi45LDAsMTQuNHogTTEyLjgsMTQuNGMwLTEuMiwwLjMtMi4yLDEuMi00LjJMMTguOSwwaDQuM2wtMi45LDEwLjhjMS4yLDAuOSwxLjksMi4yLDEuOSwzLjZjMCwyLjUtMi4yLDQuNS00LjcsNC41IEMxNC45LDE4LjksMTIuOCwxNi45LDEyLjgsMTQuNHoiLz4NCjwvc3ZnPg==');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .mui-quote-right {
      align-self: flex-end;
      transform: scaleX(-1) scaleY(-1);
      position: relative;
      bottom: 8px;
    }

    .mui-attribution {
      text-align: center;
      padding: 0 30px;
      margin-bottom: 0;
    }
  }
}
