$border-style: 1px solid #d9d9d9;

.rc-collapse {
  border: $border-style 0;
  font-weight: 300;
  color: $charcoal;

  &-anim-active {
    transition: height 0.2s ease-out;
  }

  .rc-collapse-content-active {
    display: inline-block;
  }

  .rc-collapse-content-box {
    height: inherit;
  }

  .rc-collapse-inactive {
    height: 0;
  }

  & > &-item {
    border-top: $border-style;

    > .rc-collapse-header {
      cursor: pointer;
      display: flex;
      font-size: 1.25rem;
      line-height: 2rem;
      justify-content: space-between;
      padding: 0.5rem 0;
      position: relative;

      > .arrow {
        display: none;
      }

      &::after {
        content: '+';
        color: $mobile-blue;
        flex: 0;
        font-size: 3rem;
        font-weight: 200;
        margin-left: .25em;
        min-width: 1em;
        text-align: center;
      }
    }

    > .rc-collapse-header[aria-expanded='true'] {
      &::after {
        content: '-';
      }
    }
  }

  &-content {
    overflow: hidden;

    & > &-box {
      margin: 0.5em 0;
    }

    &-inactive {
      display: none;
    }
  }

  &-item {
    &:last-child {
      border-bottom: $border-style;
    }
  }
}
