.mui-tab-switcher {
  .mui-tabs {
    display: flex;

    .mui-btn {
      border: 0;
      flex: 1;
      margin: 0 0.5rem;
      text-transform: none;
      color: $white;
      background: rgba($nightly-blue, 0.9);
      font-weight: 300;
      font-size: 1.25rem;
      justify-content: center;
      display: flex;
      padding: 0.5em;
      outline: 0;
      cursor: pointer;

      .mui-icon {
        max-width: 1.375em;
        max-height: 1.375em;

        @media (min-width: 544px) {
          display: none;
        }
      }

      .mui-name {
        @media (max-width: 543px) {
          display: none;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.mui-active {
        background: $off-white;
        color: inherit;
      }
    }
  }

  &.mui-inline .mui-tabs {
    .mui-btn {
      background: lighten($developer-blue, 40%);
      color: $developer-blue;
      border: 0.0625rem solid $off-white;
      border-bottom: 0;

      &.mui-active {
        border: 0.0625rem solid $developer-blue;
        border-bottom: 1px solid #f2f2f2;
        background: $off-white;
        margin-bottom: -0.0625rem;
      }
    }

    border-bottom: 0.0625rem solid $developer-blue;
  }

  .mui-panel {
    display: none;

    &.mui-active {
      display: block;
    }
  }
}
