.mui-radio-filter {
  margin: .5em auto;
  font-weight: 400;

  .mui-radio-inline input[type="radio"] {
    visibility: hidden;
  }

  .mui-radio-inline input:checked + span {
    color: $summit-teal;
  }
}
