.mui-radio-filter {
  margin: 0 auto;
  text-align: center;

  .mui-radio-inline {
    input {
      &[type='radio'] {
        visibility: hidden;
      }

      &:checked + span {
        color: $summit-teal;
      }
    }
  }

  label {
    cursor: pointer;
  }
}
